.gallery
  padding-bottom: 55px
  text-align: center
  .col
    display: flex
    justify-content: center
  .image__wrapper
    background: $primaryColor
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-image: url("../img/intro.jpg")
    width: 352px
    height: 197px
    margin-bottom: 55px
    transition: .1s ease-in
    &:hover
      transform: scale(110%)