body.theme-light
  color: #000
  background: #FFF
  .navbar-brand__wrapper
    margin: 0px
  .card-content
    color: #000
  .header
    box-shadow: inset 0 -100px 40px -50px #fff
  .intro__wrapper
    box-shadow: inset 0 -100px 40px -50px #fff
  .schedule-table
    td
      background: #fff
  .card
    background: #fff