.navbar
  &-brand
    display: flex
    justify-content: center
    align-items: center
    background: rgba(#000, .8)
    height: 166px
    position: relative
    &__wrapper
      display: flex
      flex-direction: column
      position: relative
      width: 128px
      height: 128px
      img
        width: 100%
        height: 100%
        cursor: pointer
        position: absolute
        top: 0
        left: 0
        transition: .2s all ease-in-out
      .logo-dark
        background: rgba(#fff, .5)
        border-radius: 50%
      .logo-light
        border: 1px
  &-splash
    color: #ffe800
    font-weight: 700
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000
    position: absolute
    pointer-events: none
    text-align: center
    top: 50%
    left: 0
    transform: rotate(-45deg)
    width: 256px
    animation: shaking 1s ease-in-out infinite alternate
    z-index: 1

    @keyframes shaking
      0%
        transform: rotate(-45deg) scale(100%)
        opacity: .9
      100%
        transform: rotate(-44deg) scale(105%)
  .nav
    // background: linear-gradient(90deg, $secondaryColor 0%, lighten($secondaryColor, 10%) 47%, $primaryColor 100%)
    background: linear-gradient(90deg, rgba($secondaryColor,.9) 0%, lighten(rgba($secondaryColor,.9), 10%) 47%, rgba($primaryColor,.9) 100%)
    &__wrapper
        display: flex
        justify-content: center
        flex-direction: column
        position: relative
    &-toggler
      color: #fff
      font-size: 2rem
      text-align: center
      padding: 8px
      
      @media screen and (min-width: 768px)
        display: none
    ul
      margin: 0
      padding: 0
      opacity: 0
      transition: opacity .1s ease-in
      flex-direction: column
      justify-content: center
      position: absolute
      top: 100%
      background: rgba(#1B1D1E, .95)
      width: 100%
      &.open
        opacity: 1
      @media screen and (min-width: 768px)
          flex-direction: row
          display: flex
          position: static
          background: none
          opacity: 1
      flex-wrap: wrap
      li
        list-style-type: none
        text-align: center
        button
          background: 0
          border: none
          padding: 17px 17px
          font-family: $secondaryFont
          font-size: .9rem
          font-weight: 700
          color: #fff
          cursor: pointer
          transition: background-color .3s ease-in-out
          text-shadow: 1px 1px rgba(#000,.1)
          text-transform: uppercase
          &:hover
            background-color: rgba(#fff,.2)
